@model ViewModels.UserBankAccountVM;
@{
	ViewData["Title"] = "User-Home";
}
<div class="container">
	<div class="mb-3">
		<h1>Hello @Model.FirstName </h1>
	</div>
	<div class="mb-3">
		<h4 class="mb-3">Here is your bank account detail</h4>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Account Number</th>
					<th>Operative Amount</th>
					<th>Investment Amount</th>
					<th>Loan Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>@Model.AccountNumber</td>
					<td>@Model.OperativeAmount</td>
					<td>@Model.InvestmentAmount</td>
					<td>@Model.LoanAmount</td>
				</tr>
			</tbody>
		</table>

	</div>
	<div>
		<h4 class="mb-3">
			View Your Statistics
		</h4>
	</div>
</div>