@model ViewModels.LoanPaymentVM;
@{
	ViewData["Title"] = "Pay Loan";
}

<div class="container">
	<div class="mb-3">
		<h1 class="text-danger">
			You have an open loan to clear.
		</h1>
	</div>
	<div class="mb-3">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Amount Taken</th>
					<th>Interest Rate</th>
					<th>Amount with interest</th>
					<th>Amount left to pay</th>
					<th>Taken on</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>@Model.AmountTaken</td>
					<td>@Model.InterestRate</td>
					<td>@Model.AmountWithInterest</td>
					<td>@Model.AmountLeftToPay</td>
					<td>@Model.TakenOn</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="mb-3">
		<h2 class="text-danger text-decoration-underline">
			House Rules!
		</h2>
		<p>
			Clear your current loan before applying for another
		</p>
		<hr />
	</div>
	<div class="mb-3">
		<form method="post" asp-area="Transaction" asp-controller="Loan" asp-action="PayLoan">
			<div class="mb-3 col-3">
				<input hidden type="text" asp-for="AmountTaken" />
				<input hidden type="text" asp-for="InterestRate" />
				<input hidden type="text" asp-for="AmountWithInterest" />
				<input hidden type="text" asp-for="AmountLeftToPay" />
				<input hidden type="text" asp-for="TakenOn" />
				<label class="form-label fw-bold" asp-for="ClearanceAmount">Enter amount you would like to pay</label>
				<input type="text" class="form-control" asp-for="ClearanceAmount" placeholder="Amount less than @Model.AmountLeftToPay">
			</div>
			<div class="mb-3">
				<input type="submit" class="btn btn-primary custom-bg-blue" value="submit" />
			</div>
		</form>
	</div>

</div>
